
.n1{
	border:0px;
	background-color: rgb(78, 11, 24);
	color:rgb(78, 11, 24) ;
	margin-bottom: 0px;
	padding: 1.5rem;
	
}
.container-flex{display: flex;

}

img{
	float: right;
}

h2{
	color: lightblue;
}

.p1{
	color: #fff;
	font-size: 2rem;
}

.text-right{
	display: flex;
}

.p2{
	background-color: indigo;
	border: 0px;
	padding: 1rem;
	width: 20rem;
	color: #fff;
	font-size: 2rem;

}


element.style {
    background-image: url(i/tree-logoa.jpg);
    height: 40rem;
}

.view {
    background: url(i/tree-logoa.jpg)no-repeat center center;
    background-size: cover;
    cursor: default;
    background-color: rgb(78, 11, 24);
}

footer{
	margin-top: 1.5rem;
	    background-color: rgb(78, 11, 24);
	    padding: 1rem;
	    color: whitesmoke;
}
.p3{
	padding: 0.5rem;
	color: #fff;
	font-size: 1.5rem;
}

a{
	background-color: rgb(78, 11, 24);
	color:rgb(78, 11, 24) ;
}


.a{
	background-color:whitesmoke;
	padding-top: 1.5rem;
	border:0px; 
	margin-left:0px; 
	
}

html, body {
    font-family: 'Roboto', 'Raleway' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #333;
    background: #c28585;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

element.style {
    background-image: url('i/(2).png');
}
.view {
    background: url('i/(2).png')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
}
html, body, .view {
    height: 100%;
}

.ab{
 background-color: rgb(78, 11, 24);
 margin-top: ;


}

.navbar-default .navbar-nav > li > a {
    color: #d82e2e;
}
.navbar-default .navbar-brand {
    color: #df2e2e;
}
body{
height: 80rem;
}

