
.c1{
	background-color: whitesmoke;
	padding: 10px;
	font-size: 5rem;
}

.orange{
	background-color: orange;
	padding: 5px;
}

.row >div{
	border: 0.5px lightgray solid;
}

.a{
	background-color: gray;
	padding: 15px;
	text-align: right;
	font-size: 5rem;
	color: #fff;
}

.q{
	color: #fff;
	font-size: 5rem;
}
